/* DESIGN ---------------------------------------------------------------------------------------------------------*/

.fullPanel {
	display:block;
	margin:0 0 $multiple 0;
	padding:$multiple $multiple 0 $multiple;
}

