header {
	margin:0 0 0 0;
	#toolBar {
		height:47px;
		margin-bottom:1px;
		width:100%;
		display:block;
		padding:0 $multiple;
		.toolGroup:nth-of-type(1) {
			min-width:0;
		}
		#breadCrumb {
			list-style-type: none;
			line-height:24px;
			font-size:14px;
			display: inline-block;
 			vertical-align: middle;
 			min-width:0;
 			overflow:hidden;
 			white-space: nowrap;
  			overflow: hidden;
			li {
				min-width:0;
				line-height: 24px;
				display:inline-block;
				margin-right:$multiple / 4;
				font-weight:400;
 				vertical-align: middle;
 				white-space: nowrap;
				span {
					display:inline-block;
					vertical-align: middle;
					height:24px;
					min-width: 0;
 					white-space: nowrap;
				}
				.icon.chev-right {
					vertical-align: middle;
					line-height: 24px;
					width:16px;
    				height: 24px;
					margin:0 ($multiple / 4);
				}
				&:last-of-type {
					font-weight:700;
					font-size:16px;
					.icon {
						display:none;
					}
				}
				&:not(:last-of-type) {
					display:none;
					@include breakpoint(tablet) { 
						display:inline-block;
					}
				}
			}
		}
	}
}

#headerExpansion {
	margin:-1px 0 $multiple 0;
	position:relative;
	padding:0 $multiple 0 $multiple;
	h1 {
		display:none;
		@include breakpoint(tablet) { 
			display:block;
		}
	}
	&:after {
		width:$multiple * 2;
		height:100%;
		position:absolute;
		bottom:0;
		right:0;
		display:block;
		content:"";
		pointer-events:none;
		z-index: 2;
	}
}

#pageTabs {
	list-style-type:none;
	min-width:calc(100% + $multiple);
	margin-right:-$multiple;
	margin-left:-$multiple;
	padding-right:$multiple;
	padding-left:$multiple;
	display:block;
	overflow-y:hidden;
	overflow-x:auto;
	height:$multiple * 2;
	white-space:nowrap;
	position:relative;
	a:focus {
		outline: none;
	}
	li {
		line-height:$multiple * 2;
		font-size:16px;
		white-space: nowrap;
		display:inline-block;
		padding:0 $multiple;
		transition:150ms ease-in-out;
		position:relative;
		cursor:pointer;
		&:hover {
			transform:scale(1.1);
		}
		&:active {
			transform:scale(0.9);
		}
	}
	#indicator {
		height:$multiple / 4;
		position:absolute;
		bottom:0;
		left:$multiple;
		transition:200ms ease-in-out;

	}
}