

#loader {
	display:block;
	z-index:-1;
	height:100%;
	width:100%;
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:fixed;
	text-align:center;
	transition:200ms ease-in-out;
	#progressContainer {
		top:50%;
		transform:translateY(-50%);
		margin: auto;
		width: 200px;
		height: 200px;
		position: relative;
	}
	.logoCaveat {
		text-align: center;
		bottom:22%;
		width:100%;
		position:absolute;
		img {
			width:72px;
			display:inline-block;
			margin-bottom:$multiple / 2;
		}
		font-size:12px;
	}
	&.endLoad {
		transform:scale(0.8);
		opacity:0;
	}
}

#wrapper {
	z-index:1;
	position:relative;
	display:block;
	@include cf();
	min-height:100%;
	opacity:0;
}

#wrapper.loadReveal {
	transition:0.1s;
	opacity:1;
}